.aside-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(100 116 139 );
    width:47%;
    height: 100%;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition-duration: 400ms;
}

.aside-btn:hover{
    background-color: rgb(249 115 22) ;
}